---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: three-mix
  name: three-mix
spec:
  selector: 
    matchLabels:
      app: three-mix
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
  template:
    metadata:
      labels:
        app: three-mix
    spec:
      initContainers:
        - name: postgres
          image: postgres:17
          restartPolicy: Always
          envFrom:
            - secretRef:
                name: three-mix-secrets
          volumeMounts:
            - name: three-mix-storage
              mountPath: /var/lib/postgresql/data
              subPath: data

      containers: 
        - name: threemix
          image: localhost:31000/threemix
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
          env:
            # All subdomains can also access this cookie
            - name: COOKIE_DOMAIN
              value: ezequielvalencia.com
            - name: WEB_PAGE_DOMAIN
              value: https://threemix.ezequielvalencia.com
            # NEEDS TO BE EVERY INTERFACE FOR THE CONTAINER
            - name: PUBLIC_HOST
              value: 0.0.0.0
          envFrom:
            - secretRef:
                name: three-mix-secrets
          resources:
            limits: 
              memory: 216M
              cpu: "300m"
          
      volumes:
        - name: three-mix-storage
          persistentVolumeClaim:
            claimName: three-mix-storage-claim
      restartPolicy: Always
      serviceAccount: three-mix

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: three-mix-storage
spec:
  capacity:
    storage: 2Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: "default"
  nfs:
    server: 10.0.0.146
    path: /volume1/k8data/storage/threemix


---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: three-mix-storage-claim
  labels:
    backup: every-3-days
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: "default"
  resources:
    requests:
      storage: 2Gi
  volumeName: three-mix-storage


---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: three-mix
  name: three-mix
spec:
  ports:
    - name: backend
      port: 8080
      protocol: TCP
      targetPort: 8080
    - name: db
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    app: three-mix


---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: three-mix

