apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: eventscraper
  name: eventscraper
spec:
  selector:
    matchLabels:
      app: eventscraper
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: eventscraper
    spec:
      # https://stackoverflow.com/questions/49368047/what-is-the-equivalent-for-depends-on-in-kubernetes
      containers: 
        - name: eventscraper
          image: avocadomoon/ctevent-scraper:latest
          imagePullPolicy: "Always"
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
          envFrom:
            - secretRef:
                name: eventscraper-secrets
            - configMapRef:
                name: eventscraper-env
          resources:
            limits: 
              memory: 512M
              cpu: "300m"
          volumeMounts:
            - name: eventscraper-storage
              mountPath: /app/config
      volumes:
        - name: eventscraper-storage
          persistentVolumeClaim:
            claimName: eventscraper-storage-claim
      restartPolicy: Always
