apiVersion: v1
kind: PersistentVolume
metadata:
  name: media-local-storage
spec:
  capacity:
    storage: 700Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: "standard"
  hostPath:
    path: /mnt/k8data/media # Example host path to simulate an empty directory
    type: DirectoryOrCreate


---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-local-storage-claim
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "standard"
  resources:
    requests:
      storage: 700Gi
  volumeName: media-local-storage

# Set to read write once since multiple pods need
# to access the data, but all the pods run on the same node
# https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes
# https://stackoverflow.com/questions/57798267/kubernetes-persistent-volume-access-modes-readwriteonce-vs-readonlymany-vs-read
--- 
apiVersion: v1
kind: PersistentVolume
metadata:
  name: media-config-longhorn-storage
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: "default"
  nfs:
    server: 10.0.0.146
    path: /volume1/k8data/storage/media-config


---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-config-longhorn-storage-claim
  labels:
    backup: every-3-days
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "default"
  resources:
    requests:
      storage: 10Gi
  volumeName: media-config-longhorn-storage

