---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
  namespace: cert-manager
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: "casualcucumber59@gmail.com"
    privateKeySecretRef:
      name: letsencrypt-staging
    solvers:
      - dns01:
          cloudflare:
            email: "ezequiel7835@gmail.com"
            apiTokenSecretRef:
              name: cloudflare-token-secret
              key: cloudflare-token
        selector:
          dnsZones:
            - "homelab.ezequielvalencia.com"


---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
  namespace: cert-manager
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: "casualcucumber59@gmail.com"
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
      - dns01:
          cloudflare:
            email: "ezequiel7835@gmail.com"
            apiTokenSecretRef:
              name: cloudflare-token-secret
              key: cloudflare-token
        selector:
          dnsZones:
            - "homelab.ezequielvalencia.com"


---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: media-certs
  namespace: media
spec:
  secretName: media-certs
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
  - "*.homelab.ezequielvalencia.com"

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: monitor-certs
  namespace: monitoring
spec:
  secretName: monitor-certs
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
  - "*.homelab.ezequielvalencia.com"
