apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: kavita
  name: kavita
spec:
  selector:
    matchLabels:
      app: kavita
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: kavita
      annotations:
        consul.hashicorp.com/connect-inject: "true"
        consul.hashicorp.com/transparent-proxy: "true" # Can use K8 DNS instead of having to
    spec:
      # https://stackoverflow.com/questions/49368047/what-is-the-equivalent-for-depends-on-in-kubernetes
      containers: 
        - name: kavita
          image: lscr.io/linuxserver/kavita:latest
          imagePullPolicy: "Always"
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
          envFrom:
            - configMapRef:
                name: time-zone
            - configMapRef:
                name: arr-user
          resources:
            limits: 
              memory: 1024M # 1GB Memory
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: media-config-local-storage
              mountPath: /config
              subPath: kavita
            - name: media-local-storage
              mountPath: /media/books
              subPath: books
      volumes:
        - name: media-config-local-storage
          persistentVolumeClaim:
            claimName: media-config-local-storage-claim
        - name: media-local-storage
          persistentVolumeClaim:
            claimName: media-local-storage-claim
      restartPolicy: Always
      serviceAccount: kavita

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: kavita
  name: kavita
spec:
  ports:
    - name: book-ui
      port: 8083
      targetPort: 5000
  selector:
    app: kavita


---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kavita

---
apiVersion: consul.hashicorp.com/v1alpha1
kind: ServiceDefaults
metadata:
  name: kavita
spec:
  transparentProxy:
    dialedDirectly: true