version: '3.3'
services:
    traefik:
        image: traefik:3.0
        container_name: traefik
        restart: unless-stopped
        user: {{ traefik_local_user }}
        security_opt:
            - no-new-privileges:true
        networks:
            - proxy
            - nextcloud
        ports:
            - 80:80
            - 443:443
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - {{ defualt_relative_docker_data_path }}/traefik/traefik.yml:/traefik.yml:ro
            - {{ defualt_relative_docker_data_path }}/traefik/acme.json:/acme.json
            - {{ defualt_relative_docker_data_path }}/traefik/config.yml:/config.yml:ro

    nextcloud:
        image: nextcloud
        restart: always
        container_name: nextcloud
        user: 1002:1003 # Nextcloud ID's
        volumes:
            - "{{ defualt_relative_docker_data_path }}/nextcloud:/var/www/html"
        environment:
            - SQLITE_DATABASE=nextcloud
            - OVERWRITEPROTOCOL=https
            - OVERWRITECLIURL=https://nextcloud.docker 
        networks:
            nextcloud:
                aliases:
                    - 'nextcloud.docker'
        depends_on:
            - traefik


networks:
    proxy:
    nextcloud: