apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

patches:
  - target:
      kind: Deployment
    patch: |
      - op: add
        path: /spec/template/spec/hostUsers
        value: false

resources:
- semaphore.yml
