apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: semaphoreui
  name: semaphoreui
spec:
  selector:
    matchLabels:
      app: semaphoreui
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: semaphoreui
      annotations:
        consul.hashicorp.com/connect-inject: "true"
        consul.hashicorp.com/transparent-proxy: "true" # Can use K8 DNS instead of having to
    spec:
      initContainers: 
        - name: postgres
          image: postgres:14
          env: 
            - name: POSTGRES_USER
              value: semaphore
            - name: POSTGRES_DB
              value: semaphore
          envFrom:
            - secretRef:
                name: semaphore-secrets
          volumeMounts:
            - name: semaphore-storage
              mountPath: /var/lib/postgresql/data
          restartPolicy: Always


      containers: 
        - name: semaphoreui
          image: semaphoreui/semaphore:latest
          imagePullPolicy: "Always"
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
          envFrom:
            - configMapRef:
                name: semaphore-config
            - secretRef:
                name: semaphore-secrets
          resources:
          ports:
            - containerPort: 3000
      volumes:
        - name: semaphore-storage
          persistentVolumeClaim:
            claimName: semaphore-storage-claim
      restartPolicy: Always
      serviceAccount: semaphoreui
      nodeName: monitor

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: semaphoreui
  name: semaphoreui
spec:
  ports:
    - name: web-ui
      port: 3000
      targetPort: 3000
  selector:
    app: semaphoreui


---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: semaphoreui

---
apiVersion: consul.hashicorp.com/v1alpha1
kind: ServiceDefaults
metadata:
  name: semaphoreui
spec:
  transparentProxy:
    dialedDirectly: true