version: "3.3"
services:
    pihole:
        image: pihole/pihole:latest
        restart: always
        container_name: pihole
        ports:
            - "53:53/tcp"
            - "53:53/udp"
            - "5790:80/tcp"
        environment:
            - TZ={{ time_zone }}
            - WEBTHEME=default-dark
            - PIHOLE_DNS_=9.9.9.9;1.1.1.1
            - DNSSEC="true"
        volumes:
            - "{{ defualt_relative_docker_data_path }}/pihole:/etc/pihole"
            - "{{ defualt_relative_docker_data_path }}/pihole-dnsmasq.d:/etc/dnsmasq.d"