apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgadmin
  namespace: database
labels:
    app: pgadmin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgadmin
  template:
    metadata:
      labels:
        app: pgadmin
    spec:
      containers:
      - name: pgadmin
        image: elestio/pgadmin:REL-9_6
        resources:
        ports:
          - containerPort: 80
        volumeMounts:
          - name: pgadmin-data
            mountPath: /var/lib/pgadmin
            subPath: pgadmin
      volumes:
        - name: pgadmin-data
          persistentVolumeClaim:
            claimName: pgadmin-claim

---
apiVersion: v1
kind: Service
metadata:
  name: pgadmin-service
  namespace: database
spec:
  selector:
    app: pgadmin
  ports:
    - name: http-ui
      port: 80
      targetPort: 80

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pgadmin-volume
spec:
  capacity:
    storage: 30Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: "db-client"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pgadmin-claim
  labels:
    backup: every-3-days
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: "db-client"
  resources:
    requests:
      storage: 30Gi
  volumeName: pgadmin-storage

