services:
    homer:
        image: lissy93/dashy:3.1.0
        restart: always
        container_name: dashy
        dns:
            - 10.0.0.6
        volumes:
        - "{{ defualt_relative_docker_data_path }}/dashy:/app/user-data"
        networks:
            - dashy
        ports:
        - 8080:8080

networks:
    dashy: